Question 3: -
    
Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.
Note - Write comments wherever necessary explaining the code written.
Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json

In [1]:
import pandas as pd
import json
import requests
import warnings
warnings.filterwarnings("ignore")

In [2]:
pd.read_json("https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json")

                                               pokemon
0    {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1    {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2    {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3    {'id': 4, 'num': '004', 'name': 'Charmander', ...
4    {'id': 5, 'num': '005', 'name': 'Charmeleon', ...
..                                                 ...
146  {'id': 147, 'num': '147', 'name': 'Dratini', '...
147  {'id': 148, 'num': '148', 'name': 'Dragonair',...
148  {'id': 149, 'num': '149', 'name': 'Dragonite',...
149  {'id': 150, 'num': '150', 'name': 'Mewtwo', 'i...
150  {'id': 151, 'num': '151', 'name': 'Mew', 'img'...

[151 rows x 1 columns]

In [4]:
url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"
response = requests.get(url)
data = response.json()

#convert json to data frame
df = pd.DataFrame(data["pokemon"])
#convert dataframe to excel file
df.to_excel('pokemon_Pokedex.xlsx', index=False)

In [5]:
data = pd.read_json("https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json")

In [6]:
df =  pd.DataFrame(data["pokemon"])

In [7]:
df

                                               pokemon
0    {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1    {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2    {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3    {'id': 4, 'num': '004', 'name': 'Charmander', ...
4    {'id': 5, 'num': '005', 'name': 'Charmeleon', ...
..                                                 ...
146  {'id': 147, 'num': '147', 'name': 'Dratini', '...
147  {'id': 148, 'num': '148', 'name': 'Dragonair',...
148  {'id': 149, 'num': '149', 'name': 'Dragonite',...
149  {'id': 150, 'num': '150', 'name': 'Mewtwo', 'i...
150  {'id': 151, 'num': '151', 'name': 'Mew', 'img'...

[151 rows x 1 columns]